.Home {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.header-banner {
  width: 100%;
  padding: 25px 0;
  text-align: center;
  font-size: 38px;
  color: #333;
  border-bottom: solid 1px #ccc;
}

.user-flow {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 0 0;
}
.user-flow h1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-decoration: underline;
  color: #333;
}

.form-elements {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 25px;
  border: solid 1px #ccc;
  border-radius: 15px;
}

.form-element {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.form-elements label {
  width: 100%;
  text-align: left;
  display: block;
  margin: 0 auto;
  padding: 5px 0;
}

.form-elements input {
  width: 100%;
  margin: 0 auto;
  padding: 5px;
  font-size: 20px;
}

.step-counter {
  width: 50%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 15px;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.button-container {
  width: 40%;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  padding: 25px;
}

.button-container .left,
.right {
  width: 45%;
  display: flex;
  padding: 0 2.5%;
  flex-direction: column;
}
.button-container .left {
  align-items: start;
}

.button-container .right {
  align-items: end;
}

.button-container button {
  padding: 15px 30px;
  cursor: pointer;
  background-color: #333;
  color: #ffffff;
  font-weight: bold;
  border: 0;
}

.button-container .submit-button {
  background-color: blue;
}
