.Home {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.header-banner {
  width: 100%;
  padding: 25px 0;
  text-align: center;
  font-size: 38px;
  color: #333;
  border-bottom: solid 1px #ccc;
}

.user-flow {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 0 0;
}
.user-flow h1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-decoration: underline;
  color: #333;
}

.form-elements {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 25px;
  border: solid 1px #ccc;
  border-radius: 15px;
}

.step-counter {
  width: 50%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 15px;
  align-items: center;
  justify-content: center;
  text-align: center;
}
