hr {
  width: 100%;
}
.Admin,
.admin-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
}

.flow-section {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.section-left {
  width: 45%;
  display: flex;
  flex-direction: column;
}

.section-right {
  width: 45%;
  display: flex;
  flex-direction: column;
}

.el-display {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  align-items: center;
}
.el-item {
  width: 100%;
  display: flex;
  text-align: left;
  padding: 10px;
  margin: 5px;
  background-color: #f1f1f1;
  border-radius: 5px;
}

.add-button {
  margin-left: 5px;
  padding: 13px 10px;
  background-color: #333;
  border: 0;
  color: #f1f1f1;
  cursor: pointer;
}

.fc-select {
  padding: 2px 5px;
  background-color: #f1f1f1;
  border: solid 10px #f1f1f1;
  color: #333;
  cursor: pointer;
}
